In [1]:
import numpy as np 
import pandas as pd

In [2]:
#Lecture du dataset en selectionnant les colonnes 
df= pd.read_csv("../data/raw/2022_data.csv",
                       dtype={10: "string",12: "string",28: "string"},
                       usecols=[1,5,9,10,11,12,14,16,19,20,21,22,23,24,25,26,27,28,30,36,39])

# Data Cleaning

In [4]:
#supprimer les lignes en doubles
df=df.drop_duplicates()
#supprimer les lignes sans valeur cible
df=df.dropna(axis=0, subset=['Ewltp (g/km)'])
df = df.rename(columns={"Fuel consumption ": "Fuel consumption"})

In [5]:
#Nettoyage de la colonne Man, mettre tout en majuscule, supression des caractères et espaces en début et fin de chaine
df["Man"] = df["Man"].astype(str).str.strip().str.upper().str.replace(r"[^A-Z0-9 ]", "", regex=True)
#Remplacer les Man mal saisi par la valeur correcte
map_man = {
    'ANHUI JIANGHUAI AUTOMOBILE':'ANHUI JIANGHUAI AUTOMOBILE GROUP CORP LTD',
    'AUDI HUNGARIA MOTOR KFT':'AUDI HUNGARIA ZRT',
    'EGO MOBILE AG':'NEXT EGO MOBILE SE',
    'FORDWERKE GMBH':'FORD WERKE GMBH',
    'FORD MOTOR COMPANY OF AUSTRALIA LIMITED':'FORD MOTOR COMPANY OF AUSTRALIA PTY LIMITED',
    'HENAN SUDA ELECTRIC VEHICLES TECHNOLOGY':'HENAN SUDA ELECTRIC VEHICLE TECHNOLOGY CO LTD', 
    'HYUNDAI MOTOR MANUFACTURING CHECH SRO':'HYUNDAI MOTOR MANUFACTURING CZECH SRO',
    'ISUZU MOTORS LIMITED':'ISUZU MOTORS LTD',
    'KIA MOTORS CORPORATION':'KIA CORPORATION',
    'KIA SLOVAKIA SRO': 'KIA MOTORS SLOVAKIA SRO',
    'LANZHOU ZHIDOU ELECTRIC VEHICLE':'LANZHOU ZHIDOU ELECTRIC VEHICLE CO LTD',
    'LONDON EV COMPANY':'LONDON EV COMPANY LIMITED',
    'LUANO CAMP':'LUANO CAMP SRL',
    'MAZDA MOTOR LOGISTIC EUROPE NV':'MAZDA MOTOR LOGISTICS EUROPE NV',   
    'MITSUBISHI MOTORS THAILAND CO LTD MMTH':'MITSUBISHI MOTORS THAILAND CO LTD',
    'MITSUBISHI MOTORS CORPORATION MMC':'MITSUBISHI MOTORS CORPORATION',
    'MITSUBISHI MOTORS EUROPE BV MME':'MITSUBISHI MOTORS EUROPE BV',
    'MAN TRUCK  BUS AG':'MAN TRUCK  BUS SE',
    'NIO CO':'NIO CO LTD',
    'RENAULT TRUCKS':'RENAULT SAS',
    'WUHAN LOTUS CAR CO LTD':'WUHAN LOTUS CARS CO LTD',
    'ZHEJIANG ZOYTE AUTOMOBILE MANUFACTURING CO LTD':'ZHEJIANG ZOTYE AUTOMOBILE MANUFACTURING CO LTD'
}
df["Man"] = df["Man"].replace(map_man)

In [6]:
#Nettoyage de la colonne Mk, mettre tout en majuscule, supression des caractères et espaces en début et fin de chaine
df["Mk"] = df["Mk"].str.strip().str.upper().str.replace(r"[^A-Z0-9 ]", "", regex=True)
#Cross-verification et correction et/ou remplissage de Man
df.loc[(df['Mk'] == 'ILES AUTOMOTIVE') & (df['Man'] == 'AAIVA'), 'Man'] = 'VOLVO CAR CORPORATION'
df.loc[df['Mk'] == 'PANDA' , 'Cn'] = 'PANDA 312'
map_man_mk = {
    'ILES AUTOMOTIVE': 'MERCEDES BENZ',
    'FIAT DETHLEFFS': 'FIAT AUTOMOBILES SPA',
    'AUTOSTAR': 'FIAT AUTOMOBILES SPA',
    'LETECH': 'MERCEDES BENZ AG',
    'LUCID MOTORS': 'LUCID USA INC',
    'FIATHYMER': 'FIAT AUTOMOBILES SPA',
    'MORGAN MOTOR': 'MORGAN MOTOR COMPANY',
    'GEELY': 'GEELY AUTOMOBILE HOLDING Ltd',
    'VIA MODENA ITALIA': 'LAMBORGHINI',
    'ACHLEITNER': 'ACHLEITNER FAHRZEUGBAU GMBH',
    'KLASSEN': 'MERCEDES BENZ AG',
    'Y1A': 'PORSCHE AG',
    'DETROIT ELECTRIC': 'DETROIT ELECTRIC',
    'WAS': 'AVTOVAZ',
    'AVTOVAZ': 'AVTOVAZ'
}
df['Man'] = df['Mk'].replace(map_man_mk)

#Remplacer les Mk mal saisi par la valeur correcte
map_mk={
    'AUDI AG':'AUDI',
    'AUDI SPORT GMBH':'AUDI',
    'AUDI SPORT':'AUDI',
    'QUATTRO'	:'AUDI',
    'ALFA  ROMEO':'ALFA ROMEO',
    'ALLIED VEHICLES LTD':'ALLIED VEHICLES',
    'BENTLEY MOTORS':'BENTLEY',
    'BERGADA':'BERGADANA',
    'BURSTNER GMBH': 'BURSTNER',
    'BRAVIA': 'BAVARIA',
    'BMW M':'BMW',
    'BMW I':'BMW',
    'BRABUS AUTOMOTIVE':'BRABUS',
    'CITROENDS':'CITROEN',
    'CATERHAM CARS LTD':'CATERHAM',
    'AUTOMOBILES CITROEN':'CITROEN',
    'CAPRON GMBH':'CAPRON',
    'DALARA':'DALLARA',
    'DFSK SOKON':'DONGFENG',
    'DFSK SERES SOKON':'DONGFENG',
    'DR AUTOMOBILES SRL':'DR AUTOMOBILES',
    'FORD D':'FORD',
    'FORD DEH':'FORD',
    'FORD USA':'FORD',
    'FORD  CNGTECHNIK':'FORD',
    'FORDCNGTECHNIK':'FORD',
    'FORDCNG TECHNIK' :'FORD',
    'FORD MOTOR COMPANY':'FORD',
    'FIAT DETHLEFFS':'DETHLEFFS',
    'FCA ITALY':'FIAT',
    'FCA ITALY SPA':'FIAT',
    'FCA':'FIAT',
    'PANDA':'FIAT',
    'FIATHYMER':'HYMER',
    'GIOTTLINE':'GIOTTILINE',
    'GLOBE':'GLOBECAR',
    'GEELY':'GEOMETRY',
    'GREAT WALL MOTOR COMPANY':'GREAT WALL MOTOR',
    'GREAT WALL MOTOR COMPANY LIMITED':'GREAT WALL MOTOR',
    'HYUNDAI MOTOR CORPORATION':'HYUNDAI',
    'HYUNDAI MOTOR COMPANY':'HYUNDAI',
    'HYUNDAI MOTORSPORT':'HYUNDAI',
    'HYUNDAI MOTOR':'HYUNDAI',
    'HONDA MOTOR':'HONDA',
    'INEOS AUTOMOTIVE GMBH':'INEOS',
    'KODA':'SKODA',
    'LYNKCO' :'LYNK & CO',
    'LYNK  CO':'LYNK & CO',
    'LAIKA CARAVANS SPA':'LAIKA',
    'LENCIA':'LANCIA',
    'LOTUS CARS':'LOTUS',
    'WAS':'LADA',
    'AVTOVAZ':'LADA',
    'AUTOMOBILI LAMBORGHINI S':'LAMBORGHINI',
    'AUTOMOBILI LAMBORGHINI SPA':'LAMBORGHINI',
    'AUTOMOBILI LAMBORGHIN':'LAMBORGHINI',
    'AUTOMOBILI LAMBORGHIN':'LAMBORGHINI',
    'AUTOMOBILL LAMBORGHINI':'LAMBORGHINI',
    'ATLAS TECHNOLOGIES':'LIGHTYEAR',
    'MAZDA MOTOR CORPORATION': 'MAZDA',
    'MC LOUIS':'MCLOUIS',
    'MOBILVETTA DESIGN':'MOBILVETTA',
    'MOBILVETTA DESING':'MOBILVETTA',
    'MC LAREN':'MCLAREN',
    'MERCEDESBENZ':'MERCEDES BENZ',
    'MERCEDES BENZ':'MERCEDES BENZ',
    'MERCEDES BENZQ':'MERCEDES BENZ',
    'MERCEDES  BENZ':'MERCEDES BENZ',
    'MERCEDESBENZ AG':'MERCEDES BENZ',
    'MERCEDES AMG':'MERCEDES BENZ',
    'MERCEDESAMG':'MERCEDES BENZ',
    'MERCEDES':'MERCEDES BENZ',
    'MERCEDESAMG GMBH':'MERCEDES BENZ',
    'LETECH':'MERCEDES BENZ',
    'MITSUBISHI MOTORS THAILAND':'MITSUBISHI',
    'MITSUBISHI MOTORS THAILAND C':'MITSUBISHI',
    'MITSUBISHI MOTORS CORPORATION':'MITSUBISHI',
    'MOTO STAR':'FORD',
    'OPEL AUTOMOBILE GMBH':'OPEL',
    'PORSCHE 718 CAYMAN GTS':'PORSCHE',
    'PORSCHE TAYCAN 4S':'PORSCHE',
    'Y1A':'PORSCHE',
    'POESSL':'POSSL',
    'AUTOMOBILES PEUGEOT':'PEUGEOT',
    'RENAULT SPORT':'RENAULT',
    'RANGER':'RANDGER',
    'SANGYONG':'SSANGYONG',
    'SSANG YONG':'SSANGYONG',
    'SUBARU CORPORATION':'SUBARU',
    'SUZUKI MOTOR CORPORATION':'SUZUKI',
    'TESLA MOTORS':'TESLA',
    'TEC CARAVAN GMBHCO':'TEC',
    'VOVLO':'VOLVO',
    'VOLVO CAR CORPORATION':'VOLVO',
    'VOLKSWAGENVW':'VOLKSWAGEN',
    'VOLKSWAGEN VW':'VOLKSWAGEN',
    'VOLKSWAGEN  VW':'VOLKSWAGEN',
    'VOLKSWAGEN V W':'VOLKSWAGEN',
    'VOLKSWAGEN AG':'VOLKSWAGEN',
    'VOLKSWAGENRKOS':'VOLKSWAGEN',
    'VOLKSWAGEN MOTORSPORT':'VOLKSWAGEN',
    'ZHIDOU ZD':'ZHIDOU',
    'ZHIDOU ZDELARIS':'ZHIDOU',
    'ZHIDOU ZD ELARIS':'ZHIDOU',
    'ZHIDOU ZD''ZHIDOU':'ZHIDOU',
    'ZHIDOU ZD''ZHIDOU ZD':'ZHIDOU',
    'ZD':'ZHIDOU'
}
df["Mk"] = df['Mk'].replace(map_mk)

In [7]:
#Remplacer les codes de IT par 1 si IT non vide et par 0 si vide
df['IT'] = df['IT'].notna().map({True: 1, False: 0})
#IT = 1 si Erwltp (g/km)!=0
df.loc[df['Erwltp (g/km)'].notna(), 'IT'] = 1

In [8]:
# Nettoyage de la colonne Va
# remove leading/trailing spaces, harmonise en majuscules, supprime tous les espaces, supprime les séparateurs mais on garde les lettres et chiffres
df['Va'] =df['Va'].astype(str).str.strip().str.upper().str.replace(r'\s+', '', regex=True).str.replace(r'[-_./]', '', regex=True)
# retirer les mots non techniques
df['Va'] = df['Va'].str.replace(r'\(|\)', '', regex=True).str.replace(r'[A-Z]+START+4*4+4WD+4x4+4X4', '', regex=True)

In [9]:
# Nettoyage de la colonne Ve
# normalisation de base : strip + upper
df['Ve'] = df['Ve'].astype(str).str.strip().str.upper()         

# supprimer tous les espaces internes
df['Ve'] = df['Ve'].str.replace(r'\s+', '', regex=True)

# supprimer les séparateurs mais garder lettres/chiffres
df['Ve'] = df['Ve'].str.replace(r'[-_/.*]', '', regex=True)

# retirer tout caractère non technique (tout sauf A-Z et 0-9)
df['Ve'] = df['Ve'].str.replace(r'[^A-Z0-9]', '', regex=True)

# retirer les mots non techniques (adapte la liste selon tes besoins)
non_tech_words = ['START', 'ENGINE', 'CODE', 'MODEL', 'TYPE']
for w in non_tech_words:
    df['Ve'] = df['Ve'].str.replace(w, '', regex=False)
    
# Conserver uniquement les valeurs dont la longueur du texte est comprise entre 2 et 24 caractères
df['Ve'] = df['Ve'].where(df['Ve'].str.len().between(2, 24), "OTHER")

# Convert fake NaN to real NaN
df['Ve'] = df['Ve'].replace(["nan", "NaN", "NAN","na", "NA","null", "NULL","none", "None", "NONE","", " ", ".", "-", "--"], np.nan)

# force string dtype
df['Ve'] = df['Ve'].astype("string")

# Replace aberrant values with OTHER
df['Ve'] = df['Ve'].where(df['Ve'].str.match(r'^[A-Z0-9]+$', na=False), "OTHER")

# Replace all real NaN with OTHER
df['Ve'] = df['Ve'].fillna("OTHER")

In [10]:
# Nettoyage de la colonne Cn
# 0. Convertir toutes les fausses valeurs manquantes en vrais NaN
fake_nans = ["nan","NaN","NAN","na","NA","null","NULL","none","None","NONE","", " ", ".", "-", "--"]
df["Cn"] = df["Cn"].replace(fake_nans, np.nan)

# 1. Conversion en MAJ + trim
df["Cn"] = df["Cn"].astype(str).str.upper().str.strip()

# 2. Normaliser les espaces (1 seul)
df["Cn"] = df["Cn"].str.replace(r"\s+", " ", regex=True)

# 3. Uniformiser les tirets
df["Cn"] = df["Cn"].str.replace("-", " ", regex=True)

# 4. Supprimer les caractères parasites mais garder LETTRES / CHIFFRES / ESPACES
df["Cn"] = df["Cn"].str.replace(r"[^A-Z0-9 ]", "", regex=True)

# 5. Normaliser encore une fois les espaces
df["Cn"] = df["Cn"].str.replace(r"\s+", " ", regex=True).str.strip()

# 6. OTHER pour les vrais NaN
df["Cn"] = df["Cn"].replace("NAN", np.nan).fillna("OTHER")

In [11]:
!pip install rapidfuzz

Requirement already satisfied: rapidfuzz in /usr/local/lib/python3.11/dist-packages (3.14.3)

In [12]:
# Nettoyage de la colonne Cn

from rapidfuzz import process, fuzz

values = df['Cn'].unique().tolist()
mapping = {}

threshold = 87  # super pour des modèles de voitures

for v in values:
    best, score, _ = process.extractOne(v, values, scorer=fuzz.token_sort_ratio)
    if score >= threshold and v != best:
        mapping[v] = best

df['Cn'] = df['Cn'].replace(mapping)

In [13]:
#Transformer des valeurs ambiguës "3008 5008" en valeurs uniques "3008" ou "5008"

# 1. Indices des lignes à répartir
idx = df.index[df["Cn"] == "3008 5008"]

n = len(idx)  # 124

# 2. Comptages existants
n_3008 = df["Cn"].value_counts().get("3008", 0)
n_5008 = df["Cn"].value_counts().get("5008", 0)

total = n_3008 + n_5008

# 3. Calcul prorata
p_3008 = n_3008 / total
p_5008 = n_5008 / total

# 4. Attribution proportionnelle
n_to_3008 = int(round(n * p_3008))
n_to_5008 = n - n_to_3008

# 5. Shuffle des index
shuffled_idx = np.random.permutation(idx)

# 6. Remplacement
df.loc[shuffled_idx[:n_to_3008], "Cn"] = "3008"
df.loc[shuffled_idx[n_to_3008:], "Cn"] = "5008"

In [14]:
#Nettoyage de la colonne Cr
df.loc[df["Cr"].isna(), "Cr"] = "M1"

In [15]:
#Nettoyage de la colonne Ft
df["Ft"] = df["Ft"].astype(str).str.upper().str.strip().str.replace(r"\s+", "", regex=True) .str.replace(r"[^A-Z0-9]", "", regex=True)
fake_nans = ["UNKNOWN", "NULL", "NONE", "N/A", "NA", "", " ", "-", "--", ".", "NAN"]
df["Ft"] = df["Ft"].astype(str).replace(fake_nans, np.nan)
df["Ft"] = df["Ft"].fillna("OTHER")

In [16]:
#Nettoyage de la colonne Fm
df["Fm"] = df["Fm"].astype(str).str.upper().str.strip().str.replace(r"\s+", "", regex=True) .str.replace(r"[^A-Z0-9]", "", regex=True)
fake_nans = ["UNKNOWN", "NULL", "NONE", "N/A", "NA", "", " ", "-", "--", ".", "NAN"]
df["Fm"] = df["Fm"].astype(str).replace(fake_nans, np.nan)
df["Fm"] = df["Fm"].fillna("OTHER")

In [17]:
is_m = df['Fm'] == 'M'

is_petrol = df['Ft'].str.contains('PETROL|ESSENCE|GASOL', case=False, na=False)
is_diesel = df['Ft'].str.contains('DIESEL|FUEL|GAZOIL', case=False, na=False)

# Pour les M avec carburant essence → P
df.loc[is_m & is_petrol, 'Fm'] = 'P'

# Pour les M avec carburant diesel → F
df.loc[is_m & is_diesel, 'Fm'] = 'F'

In [18]:
#Supprimer les inohérences
df = df.drop(df[
        (df['Fm'] == 'M') &
        ((df['Electric range (km)'].notna() & (df['Electric range (km)'] > 0)) |
            (df['z (Wh/km)'].notna() & (df['z (Wh/km)'] > 0)))
    ].index)

/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater
  return op(a, b)

In [19]:
# Masques classifications
is_bev  = (df['Electric range (km)'] >= 80) & (df['z (Wh/km)'] >= 160)
is_phev = (df['Electric range (km)'].between(13, 79)) & (df['z (Wh/km)'] > 0)
is_hev  = (df['Electric range (km)'] == 0) & (df['z (Wh/km)'] == 0) & df['Ft'].str.contains('ELECTRIC')
is_ice  = (df['Electric range (km)'] == 0) & (df['z (Wh/km)'] == 0) & ~df['Ft'].str.contains('ELECTRIC')

# MISE À JOUR DES COLONNES 

# BEV (véhicules 100% électriques)
df.loc[is_bev, 'Ft'] = 'ELECTRIC'
df.loc[is_bev, 'Fm'] = 'E'

# PHEV (hybride rechargeable)
df.loc[is_phev & df['Ft'].str.contains('PETROL'), 'Ft'] = 'PETROLPHEV'
df.loc[is_phev & df['Ft'].str.contains('DIESEL'), 'Ft'] = 'DIESELPHEV'
df.loc[is_phev, 'Fm'] = 'B'

# HEV (hybride non rechargeable)
df.loc[is_hev & df['Ft'].str.contains('PETROL'), 'Ft'] = 'PETROLHEV'
df.loc[is_hev & df['Ft'].str.contains('DIESEL'), 'Ft'] = 'DIESELHEV'
df.loc[is_hev, 'Fm'] = 'H'

# ICE (thermiques) – on ne change rien
df.loc[is_ice & df['Ft'].str.contains('PETROL'), 'Ft'] = 'PETROL'
df.loc[is_ice & df['Ft'].str.contains('DIESEL'), 'Ft'] = 'DIESEL'

df.loc[df["Ft"].isin(["ELECTRIC", "HYDROGEN"]), "Fuel consumption"] = 0.0
df.loc[df["Ft"].isin(["ELECTRIC", "HYDROGEN"]), "ec (cm3)"] = 0.0

/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less_equal
  return op(a, b)

In [20]:
#Nettoyage de la colonne z (Wh/km)
df.loc[df['Ft'].isin(['PETROL','DIESEL','NG','HYDROGEN','LPG','E85']), "z (Wh/km)"] = df.loc[df['Ft'].isin(['PETROL','DIESEL','NG','HYDROGEN','LPG','E85']), "z (Wh/km)"].fillna(0)

In [21]:
#Nettoyage de la colonne Electric_range
df.loc[df['Ft'].isin(['PETROL','DIESEL','NG','HYDROGEN','LPG','E85']), "Electric range (km)"] = df.loc[df['Ft'].isin(['PETROL','DIESEL','NG','HYDROGEN','LPG','E85']), "Electric range (km)"].fillna(0)

In [22]:
# Flags de valeurs manquantes
cols = ['W (mm)', 'At1 (mm)', 'At2 (mm)']
for col in cols:
    df[col + '_missing'] = df[col].isna().astype(int)

# **Séparation des données**

In [23]:
#Variables explicatives 
X = df.drop('Ewltp (g/km)', axis = 1) 
#Variable cible 
y = df['Ewltp (g/km)'] 
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42) 
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(424827, 23) (106207, 23) (424827,) (106207,)

# **Imputation**

In [24]:
#Remplacer les valeurs génériques 'AANSS', 'AAIVA' et 'ND' par Na
X_train['Man'] = X_train['Man'].replace(['AAIVA','AANSS','ND'] , np.nan)
X_test['Man'] = X_test['Man'].replace(['AAIVA','AANSS','ND'] , np.nan)
#Remplir les Na de Man par le mode de Man en groupant par Mk
mode_man_train = X_train.groupby('Mk')['Man'].agg(lambda x: x.mode()[0] if not x.mode().empty else None)
X_train['Man'] = X_train['Man'].fillna(X_train['Mk'].map(mode_man_train))
mode_man_test = X_test.groupby('Mk')['Man'].agg(lambda x: x.mode()[0] if not x.mode().empty else None)
X_test['Man'] = X_test['Man'].fillna(X_test['Mk'].map(mode_man_test))
#Remplir les Na de Man par le mode de Man en groupant par Cn 
mode_man_train = X_train.groupby('Cn')['Man'].agg(lambda x: x.mode()[0] if not x.mode().empty else None)
X_train['Man'] = X_train['Man'].fillna(X_train['Cn'].map(mode_man_train))
mode_man_test = X_test.groupby('Cn')['Man'].agg(lambda x: x.mode()[0] if not x.mode().empty else None)
X_test['Man'] = X_test['Man'].fillna(X_test['Cn'].map(mode_man_test))
#Remplir le reste par OTHER  
X_train['Man'] = X_train['Man'].fillna('OTHER')
X_test['Man'] = X_test['Man'].fillna('OTHER')

In [25]:
#Remplir les Na de Mk par le mode de Mk en groupant par Cn 
mode_mk = X_train.groupby('Cn')['Mk'].agg(lambda x: x.mode()[0] if not x.mode().empty else None)
X_train['Mk'] = X_train['Mk'].fillna(X_train['Cn'].map(mode_mk))
X_test['Mk'] = X_test['Mk'].fillna(X_test['Cn'].map(mode_mk))
#Remplir le reste par OTHER  
X_train['Mk'] = X_train['Mk'].fillna('OTHER')
X_test['Mk'] = X_test['Mk'].fillna('OTHER')

In [26]:
#Remplacement des outliers de m(kg) par la moyenne de la masse du même modèle
X_train.loc[(X_train['Cn']=='S 680 4MATIC')&(X_train['m (kg)']==4255.0),'m (kg)']=X_train.loc[(X_train['Cn']=='S 680 4MATIC')&(X_train['m (kg)']<3500.0),'m (kg)'].mean()
X_train.loc[(X_train['Cn']=='A8')&(X_train['m (kg)']==3950.0),'m (kg)']=X_train.loc[(X_train['Cn']=='A8')&(X_train['m (kg)']<3500.0),'m (kg)'].mean()
X_train.loc[(X_train['Cn']=='S600')&(X_train['m (kg)']==4160.0),'m (kg)']=X_train.loc[(X_train['Cn']=='S600')&(X_train['m (kg)']<3500.0),'m (kg)'].mean()

X_test.loc[(X_test['Cn']=='S 680 4MATIC')&(X_test['m (kg)']==4255.0),'m (kg)']=X_train.loc[(X_train['Cn']=='S 680 4MATIC')&(X_train['m (kg)']<3500.0),'m (kg)'].mean()
X_test.loc[(X_test['Cn']=='A8')&(X_test['m (kg)']==3950.0),'m (kg)']=X_train.loc[(X_train['Cn']=='A8')&(X_train['m (kg)']<3500.0),'m (kg)'].mean()
X_test.loc[(X_test['Cn']=='S600')&(X_test['m (kg)']==4160.0),'m (kg)']=X_train.loc[(X_train['Cn']=='S600')&(X_train['m (kg)']<3500.0),'m (kg)'].mean()

/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less
  return op(a, b)

In [27]:
#Remplacement des Na de m(kg) par la moyenne de la masse du même modèle
X_train['m (kg)'] = X_train['m (kg)'].fillna(X_train.groupby('Cn')['m (kg)'].transform('mean'))
X_test['m (kg)'] = X_test['m (kg)'].fillna(X_train.groupby('Cn')['m (kg)'].transform('mean'))
#Remplacement des Na restant par la mediane de la masse
X_train['m (kg)'] = X_train['m (kg)'].fillna(X_train['m (kg)'].median())
X_test['m (kg)'] = X_test['m (kg)'].fillna(X_train['m (kg)'].median())

In [28]:
#Remplacer les Na de Erwltp par 0.0 si IT est False, et par la mediane si IT est True
X_train.loc[(X_train['IT'] == 0) & (X_train['Erwltp (g/km)'].isna()), 'Erwltp (g/km)'] = 0.0
X_train.loc[(X_train['IT'] == 1) & (X_train['Erwltp (g/km)'].isna()), 'Erwltp (g/km)'] = X_train.loc[X_train['IT'] == 1, 'Erwltp (g/km)'].median()

X_test.loc[(X_test['IT'] == 0) & (X_test['Erwltp (g/km)'].isna()), 'Erwltp (g/km)'] = 0.0
X_test.loc[(X_test['IT'] == 1) & (X_test['Erwltp (g/km)'].isna()), 'Erwltp (g/km)'] = X_train.loc[X_train['IT'] == 1, 'Erwltp (g/km)'].median()

In [29]:
#Remplir les Na de z par la mediane de z  en groupant par Ft 
median_z = X_train.groupby('Ft')['z (Wh/km)'].median()
X_train['z (Wh/km)'] = X_train['z (Wh/km)'].fillna(X_train['Ft'].map(median_z))
X_test['z (Wh/km)'] = X_test['z (Wh/km)'].fillna(X_test['Ft'].map(median_z))
#Remplir le reste par OTHER  
global_median = X_train['z (Wh/km)'].median()
X_train['z (Wh/km)'] = X_train['z (Wh/km)'].fillna(global_median)
X_test['z (Wh/km)'] = X_test['z (Wh/km)'].fillna(global_median)

In [30]:
#Remplir les Na de Electric range par la mediane de Electric range  en groupant par Ft 
median_er = X_train.groupby('Ft')['Electric range (km)'].median()
X_train['Electric range (km)'] = X_train['Electric range (km)'].fillna(X_train['Ft'].map(median_er ))
X_test['Electric range (km)'] = X_test['Electric range (km)'].fillna(X_test['Ft'].map(median_er ))
#Remplir le reste par OTHER  
global_median = X_train['z (Wh/km)'].median()
X_train['Electric range (km)'] = X_train['Electric range (km)'].fillna(global_median)
X_test['Electric range (km)'] = X_test['Electric range (km)'].fillna(global_median)

In [31]:
#Remplacer les Na de Fuel consumption, ec et ep

# CONSOMMATION CARBURANT                        
X_train["Fuel consumption"] = X_train["Fuel consumption"].fillna(X_train.groupby("Ft")["Fuel consumption"].transform("median")).fillna(X_train["Fuel consumption"].median()) 
X_test["Fuel consumption"] = X_test["Fuel consumption"].fillna(X_train.groupby("Ft")["Fuel consumption"].transform("median")).fillna(X_train["Fuel consumption"].median())                      
# CYLINDRÉE 
X_train["ec (cm3)"] = X_train["ec (cm3)"].fillna(X_train.groupby("Ft")["ec (cm3)"].transform("median")).fillna(X_train["ec (cm3)"].median())
X_test["ec (cm3)"] = X_test["ec (cm3)"].fillna(X_train.groupby("Ft")["ec (cm3)"].transform("median")).fillna(X_train["ec (cm3)"].median())

# PUISSANCE 
X_train["ep (KW)"] = X_train["ep (KW)"].fillna(X_train.groupby("Ft")["ep (KW)"].transform("median")).fillna(X_train["ep (KW)"].median())
X_test["ep (KW)"] = X_test["ep (KW)"].fillna(X_train.groupby("Ft")["ep (KW)"].transform("median")).fillna(X_train["ep (KW)"].median())

In [32]:
# NA de W at1 at2 

X_train["W (mm)"] = X_train["W (mm)"].fillna(X_train.groupby("Cn")["W (mm)"].transform("median")).fillna(X_train["W (mm)"].median())
X_test["W (mm)"] = X_test["W (mm)"].fillna(X_train.groupby("Cn")["W (mm)"].transform("median")).fillna(X_train["W (mm)"].median())

X_train["At1 (mm)"] = X_train["At1 (mm)"].fillna(X_train.groupby("Cn")["At1 (mm)"].transform("median")).fillna(X_train["At1 (mm)"].median())
X_test["At1 (mm)"] = X_test["At1 (mm)"].fillna(X_train.groupby("Cn")["At1 (mm)"].transform("median")).fillna(X_train["At1 (mm)"].median())

X_train["At2 (mm)"] = X_train["At2 (mm)"].fillna(X_train.groupby("Cn")["At2 (mm)"].transform("median")).fillna(X_train["At2 (mm)"].median())
X_test["At2 (mm)"] = X_test["At2 (mm)"].fillna(X_train.groupby("Cn")["At2 (mm)"].transform("median")).fillna(X_train["At2 (mm)"].median())

In [33]:
#Réduire la cardinalité de Man
freq = X_train['Man'].value_counts() 
X_train['Man'] = X_train['Man'].replace(freq[freq < 10].index, 'OTHER') 
X_test['Man'] = X_test['Man'].replace(freq[freq < 10].index, 'OTHER')

In [34]:
#Réduire la cardinalité de Mk
freq = X_train['Mk'].value_counts() 
X_train['Mk'] = X_train['Mk'].replace(freq[freq < 10].index, 'OTHER')
X_test['Mk'] = X_test['Mk'].replace(freq[freq < 10].index, 'OTHER')

In [35]:
#Réduire la cardinalité de Va
freq = X_train['Va'].value_counts() 
X_train['Va'] = X_train['Va'].replace(freq[freq < 20].index, 'OTHER') 
X_test['Va'] = X_test['Va'].replace(freq[freq < 20].index, 'OTHER')

In [36]:
#Réduire la cardinalité de Cn
freq = X_train['Cn'].value_counts() 
X_train['Cn'] = X_train['Cn'].replace(freq[freq < 20].index, 'OTHER') 
X_test['Cn'] = X_test['Cn'].replace(freq[freq < 20].index, 'OTHER')

In [37]:
#Réduire la cardinalité de Ve
freq = X_train['Ve'].value_counts() 
X_train['Ve'] = X_train['Ve'].replace(freq[freq < 20].index, 'OTHER') 
X_test['Ve'] = X_test['Ve'].replace(freq[freq< 20].index, 'OTHER')

# **Preprocessing**

In [38]:
cat_cols = X_train.select_dtypes(include=['object', 'string']).columns.tolist()

threshold = 30  
low_card = [c for c in cat_cols if X_train[c].nunique() <= threshold]
high_card = [c for c in cat_cols if X_train[c].nunique() > threshold]

print("Catégories faible cardinalité :", low_card)
print("Catégories haute cardinalité :", high_card)

Catégories faible cardinalité : ['Country', 'Cr', 'Ft', 'Fm']
Catégories haute cardinalité : ['Man', 'Va', 'Ve', 'Mk', 'Cn']

In [39]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(drop='first', sparse=False, handle_unknown='ignore')  

#Entraîner l'encodeur sur l'ensemble d'entraînement et appliquer la transformation sur les jeux d'entraînement et de test 
X_train_encode = ohe.fit_transform(X_train[low_card])  
X_test_encode = ohe.transform(X_test[low_card]) 

#Convertir les tableaux encodés en DataFrames 
train_encoded_df = pd.DataFrame(X_train_encode,  columns=ohe.get_feature_names_out(low_card), index=X_train.index) 
test_encoded_df = pd.DataFrame(X_test_encode, columns=ohe.get_feature_names_out(low_card), index=X_test.index) 

#Supprimer les colonnes originales et concaténer les nouvelles colonnes encodées 
X_train = pd.concat([X_train.drop(columns=low_card), train_encoded_df], axis=1)  
X_test = pd.concat([X_test.drop(columns=low_card), test_encoded_df], axis=1)

/usr/local/lib/python3.11/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [40]:
from category_encoders import HashingEncoder 
from sklearn.compose import ColumnTransformer

# Construire le ColumnTransformer
he = []
for col in high_card:
    n_comp = X_train[col].nunique()// 3
    he.append((f"he_{col}", HashingEncoder(n_components=n_comp), [col]))                                         

preprocessor = ColumnTransformer(transformers=he,remainder='drop')

# Appliquer la transformation sur le dataset
X_train_encode = preprocessor.fit_transform(X_train)
X_test_encode = preprocessor.transform(X_test)

#Convertir les tableaux encodés en DataFrames 
train_encoded_df = pd.DataFrame(X_train_encode, columns=preprocessor.get_feature_names_out(), index=X_train.index) 
test_encoded_df = pd.DataFrame(X_test_encode, columns=preprocessor.get_feature_names_out(), index=X_test.index) 

#Supprimer les colonnes originales et concaténer les nouvelles colonnes encodées
X_train = pd.concat([X_train.drop(columns=high_card), train_encoded_df], axis=1)  
X_test = pd.concat([X_test.drop(columns=high_card), test_encoded_df], axis=1)

In [ ]:
from sklearn.preprocessing import StandardScaler 

scaler = StandardScaler() 
X_train_scaled = scaler.fit_transform(X_train) 
X_test_scaled = scaler.transform(X_test) 

X_train = pd.DataFrame(X_train_scaled, columns=X_train.columns, index=X_train.index) 
X_test = pd.DataFrame(X_test_scaled, columns=X_test.columns, index=X_test.index)

### Classification CO₂ issue de la directive 1999/94/EC et de l’étiquette énergie

La directive européenne 1999/94/EC impose aux États membres d’informer les consommateurs sur la consommation et les émissions de CO₂ des véhicules neufs. En France, cette directive se traduit par l’**étiquette énergie**, qui classe les véhicules de A à G en fonction de leurs émissions de CO₂ (g/km). Cette classification est l’un des rares outils normalisés disponibles en Europe permettant de comparer rapidement l’impact climatique des véhicules. Elle repose directement sur la valeur WLTP ou NEDC, exactement comme notre colonne `Ewltp`.

Intégrer cette grille dans notre dataset 2022 constitue donc un choix cohérent et robuste. D’une part, elle offre une **lecture immédiate** du niveau d’émissions d’un véhicule ; d’autre part, elle permet de transformer une variable continue (`Ewltp`) en **catégorie interprétable**, exploitable pour l’analyse, la visualisation et la modélisation. Nous ajoutons par ailleurs une **catégorie supplémentaire “0”** pour les véhicules zéro émission afin de distinguer clairement les véhicules électriques, qui ne sont pas représentés par la grille originale.

### Grille de classification CO₂ (étiquette énergie + catégorie 0 émission)

La classification suivante est adaptée de l’étiquette énergie utilisée en Europe dans le cadre de la directive 1999/94/EC. Elle est enrichie d’une catégorie supplémentaire **"0"** destinée aux véhicules **zéro émission**, principalement électriques ou à hydrogène. Cette grille permet de catégoriser facilement les véhicules du moins au plus émetteur, à partir de la valeur `Ewltp` (g CO₂/km).

| Classe | Émissions CO₂ (WLTP) | Interprétation |
|--------|------------------------|----------------|
| **0** | = 0 g/km | Véhicules 100 % électriques / hydrogène (zéro émission) |
| **A** | ≤ 100 g/km | Très faible émission |
| **B** | 101 – 120 g/km | Faible émission |
| **C** | 121 – 140 g/km | Émission modérée |
| **D** | 141 – 160 g/km | Émission notable |
| **E** | 161 – 200 g/km | Émission élevée |
| **F** | 201 – 250 g/km | Forte émission |
| **G** | > 250 g/km | Très forte émission / hors gabarit |

Cette grille sera utilisée pour dériver une colonne `co2_class` dans notre dataset 2022, facilitant l’analyse exploratoire et la construction de futurs modèles de classification basés sur l’impact carbone des véhicules.


La méthodologie consiste à appliquer les seuils de l’étiquette énergie aux valeurs `Ewltp`, puis à attribuer à chaque véhicule une classe CO₂ (de “0” pour les véhicules électriques, puis “A” à “G” pour les autres). Cette transformation permettra ensuite d’entraîner un **modèle de classification supervisée**, capable de prédire automatiquement la catégorie CO₂ d’un véhicule à partir de ses caractéristiques techniques. Cette approche crée ainsi un lien explicite entre les variables explicatives et un niveau d’impact environnemental reconnu, facilitant l’interprétation et améliorant l’utilité pratique du modèle.

In [ ]:
def classify_co2(value):
    """
    Classe un véhicule selon la grille CO₂ enrichie :

    0 : 0 g/km (zéro émission)
    A : ≤ 100
    B : 101–120
    C : 121–140
    D : 141–160
    E : 161–200
    F : 201–250
    G : > 250

    Retourne NaN si la valeur est manquante.
    """

    if value == 0:
        return "0"
    elif value <= 100:
        return "1"
    elif value <= 120:
        return "2"
    elif value <= 140:
        return "3"
    elif value <= 160:
        return "4"
    elif value <= 200:
        return "5"
    elif value <= 250:
        return "6"
    else:
        return "7"

# Application à la variable cible
y_train_cat = y_train.apply(classify_co2)
y_test_cat = y_test.apply(classify_co2)

In [ ]:
#EXPORT X_train, X_test,y_train, y_test, y_train_cat, y_test_cat 
X_train.to_csv("../data/processed/X_train.csv", index=False)
X_test.to_csv("../data/processed/X_test.csv", index=False)
y_train.to_csv("../data/processed/y_train.csv", index=False)
y_test.to_csv("../data/processed/y_test.csv", index=False)
y_train_cat.to_csv("../data/processed/y_train_cat.csv", index=False)
y_test_cat.to_csv("../data/processed/y_test_cat.csv", index=False)